
/* ----------------------------------------------------------------

	banner.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Banner
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for banner. Thanks!
-----------------------------------------------------------------*/


#banner {
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    position: relative;   
    height: 50rem;        

    &.home-banner {
        background-image: url(../images/banner/banner_bg.png);
        height: 85.375rem; 
    }

    &.about-banner {
        background-image: url(../images/banner/about_banner_bg.png);        
        height: auto;
        padding-top: $spacer * 11.9;
        padding-bottom: $spacer * 3.25;
    }

    &.error-banner {
        background-image: url(../images/404.png);
        @include media-breakpoint-up(xl) {
            height: 68.75rem; 
        }
        
        position: relative;
    }
}