
/* ----------------------------------------------------------------

	banner.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Banner
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for banner. Thanks!
-----------------------------------------------------------------*/


#banner {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;     

    &.home-banner {
        background-image: url(../images/banner/banner_bg.png);
        height: 85.375rem; 
    }

    &.about-banner {
        background-image: url(../images/banner/about_banner_bg.png);        
        height: auto;
        padding-top: $spacer * 11.9;
        padding-bottom: $spacer * 3.25;
    }
}

.breadcrumb {
	ul {
		display: flex;
		align-items: center;
		margin-top: $spacer * 1.25;
		margin-bottom: $spacer * 2;
	}

	li {
		line-height: 1;
		padding-right: 0.25rem;
		color:  #adadad;
		font-size: $h6-font-size;
	}

	&:hover {
		color: $heading-color;
	}

	span {
		padding-right: 0.25rem;
	}
}
