
/* ----------------------------------------------------------------

	extras.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Extra Styles
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here extra styles for demo. Thanks!
-----------------------------------------------------------------*/
.container-fluid {
	overflow: hidden;
}

.filter-item {
	font-size: 1.875rem;
}

.feedback {
	input {
		background-color: transparent;
		border-bottom: 1px solid white;
		padding: .5rem;
		border-radius: 0;
		color: white;
	}

	p {
		font-size: 0.75rem;
		line-height: 1.25rem;
		color: #ffffff;
	}
}

.about-more {
	@include media-breakpoint-up(lg) {
		position: relative;
		top: -35%;
	}
}