
/*-----------------------------------------------------------------------------------

	Form: form.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Form Styles
-----------------------------------------------------------------*/

// Textarea
textarea {
    resize: none;
}

// Required field


//form control
.form-control {
    border: none;
    font-size: 2.1875rem;
    font-weight: 200;
    font-family: $heading-font;
    color: #414141;
    padding: 0 0 1.25rem 0; 
}
