
/* ----------------------------------------------------------------

	slider.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Slider
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for all sliders. Thanks!
-----------------------------------------------------------------*/
.slick-slider {
	display: flex;
	align-items: center;

	i {
		color: #818181;
		margin-right: $spacer;
	}

	.slick-dot {
		width: 8px;
		height: 8px;
		background-color: #818181;
		border-radius: 50%;
		border-color: #818181;
		margin-right: $spacer;

		&.active {
			background-color: white;
			border: 1px solid #414141;
		}
	}
	.active {
		color: #414141;
		
	}

}